<?xml version="1.0"?>
<launch>

  <!-- Configuring control package-->
  <node respawn="false" pkg="traj_gennav" type="traj_gennav_node" name="traj_gennav" output="screen">
      <param name="frame_id" type="string" value="world" />
      <param name="desired_distance" type="double" value="2.0" />
      <param name="path_from_message" type="bool" value="true" />
      <param name="sim_type" type="string" value="none" />
      <rosparam file="$(find traj_gennav)/paths/path_inspection_in.yaml"/>   
      <!-- <remap from="/vins_estimator/odometry" to="/msf_core/odometry" />   -->
      
  </node>
</launch>
