<?xml version="1.0"?>
<launch>

  <!-- Configuring control package-->
  <node respawn="false" pkg="traj_gennav" type="traj_gennav_node" name="traj_gennav" output="screen">
      <param name="frame_id" type="string" value="world" />
      <param name="desired_distance" type="double" value="2.0" />
      <rosparam file="$(find traj_gennav)/paths/path.yaml"/>
      <remap from="/vins_estimator/odometry" to="/firefly/ground_truth/odometry" />      
  </node>
</launch>